@charset "UTF-8";
// ================================================================
// カラー変数
// ================================================================
$color-default-font: #231815;
$color-base: #fcfcfc;

$color-black: #231815;
$color-white: #fff;
$color-red: #e81a2b;
$color-pink: #fce0e0;
$color-green: #00fa9a;
$color-gray: #cccccc;
$color-gradation: linear-gradient(226.6deg, #1e365b 16.22%, #f8e8d5 84.13%);
