@charset "UTF-8";
// ================================================================
// カラー変数
// ================================================================
$color-default-font: #231815;
$color-base: #fcfcfc;

$color-black: #231815;
$color-white: #fff;
$color-green: #1a8b86;
$color-blue: #70f5f0;
$color-gray: #cccccc;

//仮の色
$backcolor-blue: #d8fcfb;
$backcolor-green: #38c7c1;

$color-gradation: linear-gradient(226.6deg, #1e365b 16.22%, #f8e8d5 84.13%);
