@charset "UTF-8";
// ================================================================
// カラー変数
// ================================================================
$color-default-font: #000000;
$color-base: #fcfcfc;

$color-black: #231815;
$color-blacksub: #2b2e34;
$color-white: #fff;
$color-green: #37c7c1;
$color-blue: #70f5f0;
$color-gray: #707070;

//仮の色
$backcolor-blue: #d8fcfb;
$backcolor-green: #1b8b86;
$backcolor-red: #e6666b;
$backcolor-hex: #41b954;

$color-gradation: linear-gradient(226.6deg, #1e365b 16.22%, #f8e8d5 84.13%);
