-//入力内容
-
  const calendarItems = {
    iframe: '<iframe src="https://coubic.com/seabreezebooking/widget/calendar?from_pc=month&from_sp=agendaWeek"></iframe>',
  }

//calendar
section
  .calendar
    .calendar__background
    .calendar__inner
      .calendar__content !{calendarItems.iframe}
