extends _include/_layout.pug

block locals
  - var title = 'うみかぜ助産院 - TOPページ'

block header
  include _include/_header.pug

block content
  include _top/_index.pug

block footer
  include _include/_footer.pug
