-//入力内容
//- -
//-   const recommendImage = {
//-     img: '../images/01_top/background-img.png',
//-     alt: '背景画像',
//-   }
//-   const recommendItems = [
//-     {
//-       url: '',
//-       title: '妊活について',
//-       eng: 'family planning',
//-       text: 'ファミリープランニング',
//-     },
//-     {
//-       url: '',
//-       title: '妊娠中について',
//-       eng: 'pregnant',
//-       text: '妊娠中のマイナートラブル相談<span></span>妊娠中のお産教室<span></span>妊娠中の育児教室',
//-     },
//-     {
//-       url: '',
//-       title: '産後について',
//-       eng: 'postpartum',
//-       text: '産後母乳外来<span></span>産後育児相談<span></span>産後ケア',
//-     },
//-   ]
//info
section
  .info
    .inner-s
      .info__content
        .info__wrapper
          .info__wrapper-left
            .info__schedule
            .info__visit
        .info__wrapper
          .info__wrapper-right
            .info__web
            .info__reserve
