-
  const contentText = {
    title: '女性の一生涯の健康にむけた<br>様々な教室を毎月1回開催しております。',
    eng: 'classroom',
  }

//about
section
  .classroom__about
    .inner-classroom
      .classroom__about-eng
        p #{contentText.eng}
      .classroom__about-title
        h2 !{contentText.title}
