//fv
.classroom__fv
  .classroom__fv__img
    picture
      source(srcset=fvImage.srcset media="(max-width: 767px)")
      img(src=fvImage.img alt=fvImage.alt)
  .classroom__fv__title
    h2 !{fvImage.title}
