-
  const fvImage = {
    img: '../images/05_classroom/classroom_fv.png',
    srcset: '../images/05_classroom/classroom_fv_sp.png',
    alt: 'トップ画像',
    title: '大学の知見で、<br class="utils-block-hidden-mobile">女性の健康に寄り添う',
  }

include _fv.pug
include _about.pug
//- include ../_include/_reserve-btn.pug
//- include _concept.pug
