@charset "UTF-8";
@use "../global" as *;

// ================================================================
// 汎用クラス
// ================================================================
// スマホだけ非表示
.utils-hidden-mobile {
  @include mq(pc) {
    display: inline-block !important;
  }
  @include mq(mobile) {
    display: none !important;
  }
}
.utils-block-hidden-mobile {
  @include mq(pc) {
    display: block !important;
  }
  @include mq(mobile) {
    display: none !important;
  }
}

// PCだけ非表示
.utils-hidden-pc {
  @include mq(mobile) {
    display: inline-block !important;
  }
  @include mq(pc) {
    display: none !important;
  }
}
//width: 567px以下だけ表示
.utils-hidden-sp-s {
  display: none !important;

  @include mq(sp-s) {
    display: block !important;
  }
}
//width: 1024px以下だけ表示
.utils-hidden-sp-tb {
  display: block !important;

  @include mq(sp-tb) {
    display: none !important;
  }
}
.utils-block-hidden-pc {
  @include mq(pc) {
    display: none !important;
  }
  @include mq(mobile) {
    display: block !important;
  }
}

//width: 1280px以下からwidth: 1025pxだけ表示
.utils-hidden-tb-pc {
  display: none !important;
  @include mq(tb-pc) {
    display: block !important;
  }
}

// 非表示
.utils-hidden {
  display: none !important;
}

// 白反転
.utils-color-invert {
  filter: brightness(0) invert(1) !important;
}

// 表示
.utils-visible {
  visibility: visible !important;
  opacity: 1 !important;
}
