-
  const contentText = {
    title: '産後について',
    eng: 'postpartum',
    text: '産後は身体もこころもゆっくりと癒されることが育児への原動力となります。<br>心地よいケアとバランスの取れた栄養を摂取することで、<br>無理なく妊娠前の状態に戻していきましょう。',
  }

//about
section
  .postpartum__about
    .inner-sp
      .postpartum__about-eng
        p #{contentText.eng}
      .postpartum__about-title
        h2 #{contentText.title}
      .postpartum__about-text
        p !{contentText.text}
