-
  const fvImage = {
    img: '../images/04_postpartum/postpartum_fv.png',
    srcset: '../images/04_postpartum/postpartum_fv_sp.png',
    alt: 'トップ画像',
  }

include ../_include/_fv.pug
include _about.pug
include ../_include/_reserve-btn.pug
include _concept.pug
