-//ナビメニューの項目
-
  const navItems = [
    {
      name: "TOP",
      url: "",
    },
    {
      name: "妊活について",
      url: "",
    },
    {
      name: "妊娠中について",
      url: "",
    },
    {
      name: "産後について",
      url: "",
    },
    {
      name: "さまざまな年代の女性を対象にした各教室のご案内",
      url: "",
    },
    {
      name: "料金のご案内",
      url: "",
    },
  ]
  const navTopic = {
        name: "TOPIC<br>最新情報",
        url: "",
  }
  const navReserve = {
        name: "ご予約",
        url: "",
  }
  const navPayment = {
        name: "お支払いはこちら",
        url: "",
  }
  const navInstagram = {
        name: "instagram",
        url: "",
        icon: "",
  }
//header
header.header
