doctype html

block locals
  - var title = 'My Website'

html(lang="ja")
  block head
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="robots" content="noindex")
      meta(name="title" content="ArutoWorks")
      meta(name="description" content="宮城県出身のフリーランス。WEB制作者として活動中")
      link(rel="preconnect", href="https://fonts.googleapis.com")
      link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet")
      link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
      title #{title}
      script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
      script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
  body
    block header
      header.header
        p.logo デフォルトのヘッダーです。
    // main
    main
      block content
        .content
          p デフォルトのコンテンツです。
    block footer
      footer.footer
        p デフォルトのフッターです。
