-
  const contentText = {
    title: '妊娠中について',
    eng: 'pregnant',
    text: '妊娠中の身体の変化や胎児の成長について、ご説明します。<br>少しでも楽しく快適にマタニティライフを過ごして頂くためのご説明やご提案をいたします。',
  }

//about
section
  .pregnant__about
    .inner-sp
      .pregnant__about-eng
        p #{contentText.eng}
      .pregnant__about-title
        h2 #{contentText.title}
      .pregnant__about-text
        p !{contentText.text}
