-
  const fvImage = {
    img: '../images/03_pregnant/pregnant_fv.png',
    srcset: '../images/03_pregnant/pregnant_fv_sp.png',
    alt: 'トップ画像',
  }

include ../_include/_fv.pug
include _about.pug
include ../_include/_reserve-btn.pug
include _concept.pug
