@charset "UTF-8";
@use "../../global" as *;

// ================================================================
//  postpartum__concept
// ================================================================
.postpartum__concept {
  width: 100%;
  margin-top: rem(99px);
  margin-bottom: rem(153px);
}
.postpartum__concept-inner {
  max-width: rem(1414px);
  margin: 0 auto;
  padding: 0 40px;
}
.postpartum__items {
  width: 100%;
  display: block;
  max-width: rem(734px);
  margin: 0 auto;
  @include mq(sp-tb) {
    max-width: rem(1334px);
    display: flex;
    justify-content: space-between;
  }
}
.postpartum__item {
  width: 100%;
  @include mq(sp-tb) {
    max-width: rem(310px);
  }
  @include mq(pc-m) {
    max-width: rem(390px);
  }
  @include mq(pc-l) {
    max-width: rem(420px);
  }
}
.postpartum__item + .postpartum__item {
  margin-top: rem(40px);
  @include mq(sp-tb) {
    margin: 0;
  }
}
.postpartum__item-title {
  width: 100%;
  height: rem(108px);
  @include txt(20px, 700, $color-white, center);
  @include txt-option(1.72, 0px);
  font-family: $font-family-YuGothic;
  background-color: $color-green;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(pc-m) {
    font-size: 25px;
  }
}
.postpartum__item-text {
  width: 100%;
  min-height: rem(385px);
  font-family: $font-family-YuGothic;
  background-color: $color-blue;
  padding: 0 rem(26.5px);
  padding-top: rem(29px);
  @include txt(16px, 500, $color-default-font, left);
  @include txt-option(1.75, 0px);
  @include mq(sp-s) {
    min-height: rem(215px);
    padding-bottom: rem(20px);
  }
  @include mq(sp-tb) {
    min-height: rem(515px);
  }
  @include mq(pc-m) {
    min-height: rem(415px);
  }
  @include mq(pc-l) {
    min-height: rem(385px);
  }
}
.postpartum__item-text-row {
  display: flex;
}
.postpartum__item:nth-child(3) .postpartum__item-text {
  padding: 0 rem(26.5px);
  padding-top: rem(29px);
  @include mq(sp-s) {
    padding-bottom: rem(20px);
  }
  @include mq(sp-tb) {
    padding: 0 rem(11px);
    padding-top: rem(29px);
  }
  @include mq(sp-tb) {
    padding: 0 rem(11px);
    padding-top: rem(29px);
  }
}
.postpartum__item:nth-child(3) .postpartum__item-text p {
  @include txt(16px, 500, $color-default-font, left);
  @include txt-option(2.18, 0px);
  padding-top: rem(11.5px);
}
