-
  const contentText = {
    title: '妊活について',
    eng: 'family planning',
    sub: '（パートナーの方の同伴も可能です）',
    text: '女性の身体、月経周期やホルモン分泌を理解することが妊娠のための第一歩です。<br>もちろん、男性の生殖についてもわかりやすくご説明いたします。<br>＊不妊治療ではないのでご注意下さい。',
  }

//about
section
  .family-planning__about
    .inner-sp
      .family-planning__about-eng
        p #{contentText.eng}
      .family-planning__about-title
        h2 #{contentText.title}
      .family-planning__about-sub
        p #{contentText.sub}
      .family-planning__about-text
        p !{contentText.text}
