-
  const conceptText = {
    title: 'ファミリープランニング',
    text: 'これからお子さんを計画的にどのようなタイミングや間隔で産み育て、<br>家族を築いていくのかを、パートナーとご相談していくことが必要です。<br>その際の情報提供・お仕事と妊娠に関するバランスなどのアドバイスをいたします。',
  }

//concept
section
  .family-planning__concept
    .inner-sp
      .family-planning__wrapper
        .family-planning__wrapper-title
          h2 #{conceptText.title}
        .family-planning__wrapper-text
          p !{conceptText.text}
