-
  const fvImage = {
    img: '../images/02_family-planning/family-planning_fv.png',
    srcset: '../images/02_family-planning/family-planning_fv_sp.png',
    alt: 'トップ画像',
  }

include ../_include/_fv.pug
include _about.pug
include ../_include/_reserve-btn.pug
include _concept.pug
