@charset "UTF-8";
@use "../../global" as *;

// ================================================================
//  payment
// ================================================================
.payment {
  width: 100%;
  margin-top: rem(173.5px);
  margin-bottom: rem(127.5px);
}
.payment__inner {
  width: 100%;
  height: 100%;
  max-width: rem(839px);
  padding: 0 rem(40px);
  margin: 0 auto;
}

// ================================================================
//  title
// ================================================================
.payment__content {
}
.payment__content-title {
  @include txt(45px, 500, $color-default-font, center);
  @include txt-option(1.17, 0px);
}
.payment__content-text {
  width: 100%;
  background-color: $color-blue;
  border-radius: 28px;
  margin-top: rem(46px);
  padding-top: rem(23px);
  padding-bottom: rem(23.5px);
  @include txt(32px, 700, $color-default-font, center);
  @include txt-option(1.68, 0px);
  font-family: $font-family-YuGothic;
}
.payment__content-text p:nth-child(2) {
  @include txt(16px, 500, $color-default-font, center);
  @include txt-option(2.18, 0px);
  margin-top: rem(-6.5px);
}

// ================================================================
//  各項目のタイトル
// ================================================================
.payment-title {
  @include txt(35px, 700, $hover-green, center);
  @include txt-option(1.71, 0px);
  font-family: $font-family-YuGothic;
}
.payment-text {
  @include txt(16px, 500, $color-default-font, center);
  @include txt-option(2.18, 0px);
  font-family: $font-family-YuGothic;
  margin-top: rem(-3px);
}

// ================================================================
//  現金
// ================================================================
.payment__cash {
  margin-top: rem(45.5px);
}

// ================================================================
//  QR決済
// ================================================================
.payment__qr {
  margin-top: rem(69px);
}

// ================================================================
//  電子マネー決済
// ================================================================
.payment__electronic {
  margin-top: rem(101.5px);
}

// ================================================================
//  クレジットカード
// ================================================================
.payment__credit {
  margin-top: rem(105.5px);
}
.payment__credit-supplement {
  @include txt(16px, 500, $color-default-font, left);
  @include txt-option(2.18, 0px);
  font-family: $font-family-YuGothic;
  margin-top: rem(9.5px);
}
.payment__credit-note {
  width: 100%;
  background-color: $color-blue;
  margin-top: rem(17.75px);
  padding-top: rem(14.5px);
  padding-bottom: rem(19.5px);
  padding-left: rem(24px);
  padding-right: rem(12px);
  @include txt(16px, 500, $color-default-font, left);
  @include txt-option(2.18, 0px);
  font-family: $font-family-YuGothic;
}
