@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// intro
// ================================================================
.intro {
  display: none;
  width: 100%;
  height: auto;
  margin-top: rem(153px);
}
.intro__area {
  width: 100%;
  height: 100%;
  background: $backcolor-blue;
}
.intro__wrapper {
  width: inherit;
  height: inherit;
  padding-top: toVw(107);
  padding-bottom: toVw(93);
  padding-left: toVw(188);
  padding-right: toVw(178);
}

// ================================================================
//  intro__main
// ================================================================
.intro__main {
  display: flex;
  justify-content: space-between;
}
.intro__main__content {
  width: 100%;
  max-width: toVw(799);
}
.intro__main__content-title {
  @include txt(35px, 500, $color-default-font, left);
  @include txt-option(1.514, 0px);
}
.intro__main__content-text {
  margin-top: rem(22px);
  @include txt(23px, 500, $color-default-font, left);
  @include txt-option(1.739, 0px);
}
.intro__main__content-name {
  margin-top: rem(46px);
  margin-left: auto;
  @include txt(23px, 500, $color-default-font, right);
  @include txt-option(1.739, 0px);
}
.intro__main__content-degree {
  margin-right: 10px;
  @include txt(16px, 500, $color-default-font, right);
  @include txt-option(1.687, 0px);
}
.intro__main-img {
  width: toVw(362);
  aspect-ratio: 1/1;
  margin-left: 12px;
  margin-top: auto;
}

// ================================================================
//  intro
// ================================================================
.intro__history {
  margin-top: rem(75px);
}
.intro__degree {
  margin-top: rem(63px);
}
.intro__activity {
  margin-top: rem(86px);
}
.intro__title {
  width: 100%;
  height: rem(36px);
  background-color: $color-green;
  display: flex;
  align-items: center;
  @include txt(23px, 500, $color-white, left);
  @include txt-option(1.739, 0px);
  padding-left: rem(16px);
}
.intro__text {
  @include txt(23px, 500, $color-default-font, left);
  @include txt-option(1.739, 0px);
  margin-top: rem(22px);
}
.intro__activity-content {
  margin-top: rem(22px);
  width: 100%;
  @include txt(23px, 500, $color-default-font, left);
  @include txt-option(1.739, 0px);
}
.intro__activity-content__text {
  display: flex;
}
.intro__activity-content__text p:nth-of-type(1) {
  white-space: nowrap;
}
