@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// support
// ================================================================
.support {
  display: none;
  margin-top: rem(118.93px);
  width: 100%;
  font-family: $font-family-YuMincho;
}
.support__content {
}
.support__icon {
  width: rem(81.34px);
  height: rem(83.07px);
  margin: 0 auto;
}
.support__text {
  @include txt(20px, 500, $color-default-font, center);
  @include txt-option(1, 0px);
  margin-top: rem(3px);
  font-family: $font-family-YuGothic;
}
.support__title {
  margin-top: rem(27px);
  @include txt(35px, 500, $color-default-font, center);
  @include txt-option(1, 0px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.support__title-logo {
  @include txt(45px, 500, $color-white, center);
  @include txt-option(1, 0px);
  margin-left: rem(17px);
  position: relative;
}
.support__title-logo::before,
.support__title-logo::after {
  content: "";
  position: absolute;
  top: rem(-4px);
  width: rem(53px);
  height: rem(53px);
  background-color: $color-green;
  border-radius: 26.5px;
  z-index: -1;
}
.support__title-logo::before {
  left: rem(-12px);
}
.support__title-logo::after {
  right: rem(-12px);
}

// ================================================================
//  support-contents
// ================================================================
.support__wrapper {
  width: 100%;
  margin-top: rem(25px);
}
.support__items {
  display: flex;
  justify-content: space-between;
}
.support__item {
  max-width: rem(404px);
  width: 100%;
  min-height: rem(657px);
  background-color: $color-blue;
  position: relative;
}
.support__item-title {
  width: 100%;
  height: rem(140px);
  background-color: $color-green;
  display: flex;
  align-items: center;
  justify-content: center;
  @include txt(45px, 500, $color-white, center);
  @include txt-option(1.17, 0px);
}
.support__item-text {
  margin: 0 rem(40px);
  margin-top: rem(30px);
  @include txt(16px, 500, $color-default-font, left);
  @include txt-option(1.93, 0px);
  font-family: $font-family-YuGothic;
}
.support__item-img {
  position: absolute;
  bottom: rem(63px);
  width: 100%;
  height: auto;
}
