@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// topic
// ================================================================
.topic {
  width: 100%;
  margin-top: rem(210px);
}
.topic__area {
  width: 100%;
  padding: 0 rem(40px);
  padding-top: rem(37px);
  padding-bottom: rem(45px);
  background-color: $color-blue;
}
.topic__title {
  @include txt(30px, 500, $color-default-font, center);
  @include txt-option(1, 0px);
}
.topic__text {
  @include txt(16px, 500, $color-default-font, center);
  @include txt-option(1, 0px);
  margin-top: rem(12px);
}
.topic__content {
  width: 100%;
  margin-top: rem(38px);
}
.topic__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.topic__item {
  width: 100%;
  max-width: rem(285px);
  position: relative;
}
.topic__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: toVw(-32.5);
  width: rem(1px);
  height: 100%;
  background-color: $color-gray;
}
.topic__item:nth-last-child(1):after {
  display: none;
}
.topic__item-link {
  width: 100%;
}
.topic__item-img {
  width: 100%;
}
.topic__item-title {
  @include txt(20px, 500, $color-default-font, left);
  @include txt-option(1.7, 0px);
}
.topic__item-date {
  @include txt(16px, 500, $color-default-font, left);
  @include txt-option(2.18, 0px);
}
