@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// top-fv
// ================================================================
.top-fv {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.top-fv__icon {
  position: absolute;
  width: toVw(246.1);
  height: toVw(268.8);
  top: toVw(179);
  left: toVw(191);
  z-index: 5;
}
