@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// hamburger-menu
// ================================================================
.header__drawer {
  width: rem(40px);
  height: rem(30px);
  position: absolute;
  top: rem(20px);
  right: rem(20px);
  z-index: 10;
  @include mq(pc) {
    display: none;
  }
}
.header__drawer-line {
  display: block;
  width: 100%;
  height: rem(3px);
  margin-left: auto;
  transition: all 0.5s;
  @include mq(pc) {
    display: none;
  }
}
.header__drawer-line:nth-of-type(2) {
  width: 80%;
}
.header__drawer-line:nth-of-type(3) {
  width: 60%;
}
.header__drawer-line + .header__drawer-line {
  margin-top: rem(12px);
}
.header__drawer.active {
  .header__drawer-line:nth-of-type(1) {
    transform: translateY(15px) rotate(-45deg);
  }
  .header__drawer-line:nth-of-type(2) {
    display: none;
  }
  .header__drawer-line:nth-of-type(3) {
    width: 100%;
    transform: rotate(45deg);
  }
}

.header__overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: $color-base;

  @include mq(pc) {
    display: none;
  }
}
.header__overlay.active {
  display: flex;
  justify-content: space-between;
}
.header__overlay-line01 {
  display: block;
  width: toVw(151.29, 375);
}
.header__overlay-line02 {
  display: block;
  margin-top: toVw(102.37, 375);
  width: toVw(200.37, 375);
}
.drawer__menu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  @include mq(pc) {
    display: none;
  }
}
.drawer__menu.active {
  display: block;
}
.drawer__nav {
  position: relative;
}
.drawer__items {
  position: absolute;
  top: rem(60px);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: rem(170px);
}
.drawer__item {
  position: relative;
  display: inline-flex;
}
.drawer__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: rem(-8px);
  width: 100%;
  height: rem(2px);
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.drawer__item a {
  @include txt(24px, 400, $color-default-font, left);
  @include txt-option(1.45, 3.6px);
}
.drawer__item + .drawer__item {
  margin-top: rem(20px);
}
@media (hover: hover) {
  .drawer__item:hover::after {
    transform: scale(1, 1);
  }
}
