@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// header
// ================================================================
.header {
  width: 100%;
  height: rem(100px);
  position: fixed;
  z-index: 10;
  background-color: $color-blue;
  font-family: $font-family-YuGothic;
  @include mq(sp-tb) {
    height: rem(149px);
  }
}
.header__inner {
  width: 100%;
  max-width: rem(1800px);
  height: rem(50px);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: rem(50px);
  padding: 0 rem(20px);
  justify-content: space-between;
  position: relative;
  @include mq(pc-m) {
    padding: 0 rem(40px);
  }
  @include mq(sp-tb) {
    height: rem(74px);
  }
}

// ================================================================
//  header__nav
// ================================================================
.header__nav {
  display: none;
  @include mq(sp-tb) {
    display: block;
    width: 100%;
  }
}
.header__items {
  max-width: rem(820px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item {
  display: flex;
  justify-content: center;
  @include mq(pc-m) {
    width: rem(120px);
    width: 100%;
  }
}
// .header__item:nth-child(5) {
//   max-width: rem(381px);
//   width: 100%;
//   white-space: nowrap;
// }

.header__item a {
  @include txt(16px, 500, $color-default-font, center);
  @include txt-option(1.68, 0px);
}

// ================================================================
//  header__link
// ================================================================
.header__link {
  display: none;
  @include mq(sp-tb) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: rem(406px);
    margin-left: rem(10px);
  }
  @include mq(pc-m) {
    margin-left: rem(20px);
    max-width: rem(495px);
    justify-content: start;
  }
}
.header__topic {
  width: rem(100px);
  @include mq(pc-m) {
    width: rem(132px);
  }
}
.header__topic a {
  @include txt(16px, 700, $color-white, center);
  @include txt-option(1.56, 0px);
}
.header__web {
  width: rem(100px);
  @include mq(pc-m) {
    width: rem(132px);
    margin-left: rem(13px);
  }
}
.header__web a {
  @include txt(16px, 700, $color-white, center);
  @include txt-option(1.56, 0px);
  background-color: $backcolor-hex;
}
.header__wrapper {
  width: rem(150px);
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @include mq(pc-m) {
    margin-left: rem(13px);
  }
}
.header__reserve {
  width: 100%;
  height: rem(33px);
}
.header__reserve a {
  @include txt(16px, 700, $color-white, center);
  @include txt-option(1.56, 0px);
  background-color: $backcolor-red;
}
.header__payment {
  width: 100%;
  height: rem(33px);
  margin-top: auto;
}
.header__payment a {
  @include txt(16px, 700, $color-white, center);
  @include txt-option(1.56, 0px);
  background-color: $backcolor-red;
}
.header__instagram {
  width: rem(36px);
  height: rem(36px);
  @include mq(pc-m) {
    margin-left: auto;
  }
}
