@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// header
// ================================================================
.header {
  width: 100%;
  height: rem(100px);
  position: fixed;
  z-index: 10;
  background-color: $color-blue;
}
.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  padding: rem(20px) rem(40px);
  justify-content: space-between;
}

// ================================================================
//  header_nav
// ================================================================
.header__nav {
}
.header__items {
  display: flex;
  align-items: center;
}
.header__item + .header__item {
  margin-left: rem(20px);
}
.header__item a {
  @include txt(20px, 400, $color-default-font, left);
  @include txt-option(1, 0px);
}
.header__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: rem(400px);

  height: 100%;
}
.header__topic {
}
.header__wrapper {
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.header__reserve {
  height: 50%;
}
.header__payment {
  height: 50%;
  margin-top: auto;
}
.header__instagram {
  width: rem(50px);
  height: rem(50px);
}
