@charset "UTF-8";
@use "../../global" as *;

// ================================================================
// トップページに表示されるカレンダーの高さを調整
// ================================================================
#__next {
  height: inherit;
}
.MerchantWidgetCalendar_MerchantFullCalendar__q6njE {
  height: inherit;
}
.MerchantWidgetCalendar_MerchantFullCalendar__Calendar__uZb6w {
  height: inherit;
}
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
  height: inherit;
}
